doctype html
html(ng-app="application")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    base(href="/")
    title tc-spa-boilerplate
    meta(name="description" content="Boilerplate for AngularJS Single Page Application by Tom Chen")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://tc-spa-boilerplate.tomchentw.com")
    meta(property="og:title" content="tc-spa-boilerplate")
    meta(property="og:description" content="Boilerplate for AngularJS Single Page Application by Tom Chen")

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    link(rel="stylesheet" href=stylesheetLinkTag("application.css"))
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js")
    script(type="text/javascript" src=javascriptIncludeTag("application.js"))
  body
    include partials/header
    h1 tc-spa-boilerplate
    include partials/footer
    